@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- scss:defaults --*/
//
// Variables
// --------------------------------------------------

//** Primary color.
$primary: #4E2A84 !default;
$secondary: #4E2A84 !default;

//** Link hover color set via `darken()` function.
$link-color: #4E2A84;
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

$font-family-sans-serif:      Fira Sans Condensed, sans-serif !default;
$font-family-serif:           Barlow, serif !default;  /* Not actually a serif font but whatever */

$font-size-base:              1.1rem !default;
$headings-font-weight:        700 !default;
$sidebar-font-size: 1.2rem;

// Make JP Bastos bold
.bold {
    font-weight: 700;  // Bold
  }
  
  // Make Welcome normal weight
  .not-bold {
    font-weight: 400;  // Normal
  }

/* Custom styles for the sidebar logo */
.sidebar img {
    border-radius: 50%; /* Makes the image round */
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    object-fit: cover; /* Ensures the image covers the entire area */
}