/*-- scss:defaults --*/
$presentation-heading-color: #7A003C;
$code-color: #ac1455;
//** Link hover color set via `darken()` function.
$link-color: #ac1455;
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


